<% if @product.user_product_photos.accepted.present? %>
  <div class="row">
    <h6 class="product-section-title"><%= t('spree_user_product_photos.added_user_product_photo') %></h6>
    <ul>
      <% @product.user_product_photos.accepted.each do |photo| %>
        <li class="tmb-all tmb-1">
          <a href="<%= photo.file.url %>">
          <%= image_tag photo.file.url(:mini) %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if current_spree_user.present? %>
  <%= form_for @product.user_product_photos.build, method: :post, html: { multipart: true } do |f| %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.file_field :file %>
    <br>
    <%= f.submit t('spree_user_product_photos.upload_photo') %>
  <% end %>
<% end %>
