<% if @product.user_product_photos.accepted.present? %>
  <div class="row">
    <h6 class="product-section-title"><%= t(:questions_and_answers) %></h6>
    <% @product.questions.answered.visible.each_with_index do |question, index| %>
      <div class="qna">
        <div class="question"><%= "#{index+1}. #{question.content}" %></div>
        <div class="answer"><%= question.answer.content %></div>
      </div>
    <% end %>
  </div>
<% end %>
<% if current_spree_user.present? %>
  <%= form_for @product.user_product_photos.build, method: :post, html: { multipart: true } do |f| %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.file_field :file %>
    <br>
    <%= f.submit t(:upload_photo) %>
  <% end %>
<% end %>
